#git+https://github.com/huggingface/transformers.git@5c00918681d6b4027701eb46cea8f795da0d4064
sentencepiece==0.1.95
datasets==1.0.2
torch==1.8.1
fastt5==0.0.5
transformers==4.6.0
pytorch-lightning==1.1.3
tokenizers==0.10.1
torchtext==0.11.0
tqdm==4.64.0
#transformers -U 
tokenizers 
PyPDF2
PyPaperBot
ipython-autotime
sentence-transformers==2.2.0